page-transactions {

	.odd {
	  background: white;
	}
	.even {
	  background: color($colors, light);
	}

	.income {
	  color: color($colors, nature);
	  font-weight: bold;
	}

	.expense {
	  color: color($colors, dark);
	  font-weight: bold;
	}
	
}
