<!--
  Generated template for the TransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'transactions' | translate:param }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createTransaction()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content id="page-transactions">

  <ion-list>
    <button ion-item no-lines *ngFor="let transaction of transactions; let $i = index" (click)="editTransaction(transaction)" [ngClass]="($i%2 == 0) ? 'odd' : 'even'">
      <h2 [ngClass]="(getCategoryReadableObject(transaction.category).name == 'Transfer')? 'transfer' : (transaction.type == 'expense')? 'expense' : 'income'">{{ transaction.amount | number:0 }} {{ getCurrencyReadableObject(transaction.currency).code }} </h2>
      <p *ngIf="getAccountReadableObject(transaction.account) != null">{{ getCategoryReadableObject(transaction.category).name | translate:param }} - {{ getAccountReadableObject(transaction.account).name }}</p>
      <p *ngIf="getAccountReadableObject(transaction.account) == null">
        {{ getCategoryReadableObject(transaction.category).name | translate:param }}
        <ion-badge color="energized">{{ 'removed-account' | translate:param }}</ion-badge>
      </p>
      <p>{{ transaction.description }}</p>
      <p item-end>{{ transaction.date | date: 'yyyy/MM/dd' }}</p>
    </button> 
  </ion-list>

</ion-content>
