page-transactions {
	.transfer {
	  color: color($colors, energized);
	  font-weight: bold;
	}
	.income {
	  color: color($colors, nature);
	  font-weight: bold;
	}
	.expense {
	  color: color($colors, dark);
	  font-weight: bold;
	}
}
