page-new-transaction {
  ion-footer {
  	font-size: 48px;
  	font-weight: bold;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.0cm;
    padding-bottom: 0.0cm;
  }
  .amount {
    font-size: 48px;
  	font-weight: bold;
  }
}
