<ion-header>
  <ion-navbar>
    <ion-title>{{ 'new-transaction' | translate:param }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="page-new-transaction">
  <ion-list>
    <ion-item no-lines color="white">
      <ion-label>{{ 'amount' | translate:param }}</ion-label>
      <ion-input 
        autofocus text-right type="tel"
        [ngClass]="'amount'"
        [(ngModel)]="tempAmount" 
        pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$"
        (ionChange)="rateChange()"
        (input)="tempAmount = format(tempAmount)"></ion-input>
    </ion-item>
    <ion-item no-lines color="light" *ngIf="isDifferentCurrency == true">
      <ion-label>{{ 'rate' | translate:param }}</ion-label>
      <ion-input 
        autofocus text-right type="tel"
        [(ngModel)]="tempRate" 
        pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$" 
        (ionChange)="rateChange()"
        (input)="tempRate = format(tempRate)"></ion-input>
    </ion-item>
    <ion-item no-lines color="energized" *ngIf="isDifferentCurrency == true">
      <p text-wrap>{{ 'warning-how-much-is-deducted' | translate:param }}</p>
      <p>{{ cost | number:'1.2-2' }} {{ getCurrencyReadableObject(accountProvider.mappedAccountsById[accountOut].currency).code }}</p>
    </ion-item>
    <ion-item no-lines color="light">
      <ion-label>{{ 'type' | translate:param }}</ion-label>
      <ion-select okText="{{ 'ok' | translate:param }}" cancelText="{{ 'cancel' | translate:param }}" [(ngModel)]="newTransaction.type" (ionChange)="typeChange($event)">
        <ion-option value="income" selected="true">{{ 'income' | translate:param }}</ion-option>
        <ion-option value="expense"> {{ 'expense' | translate:param }} </ion-option>
        <ion-option value="transfer"> {{ 'transfer' | translate:param }} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines color="white" *ngIf="newTransaction.type === 'income'">
      <ion-label>{{ 'category' | translate:param }}</ion-label>
      <ion-select okText="{{ 'ok' | translate:param }}" cancelText="{{ 'cancel' | translate:param }}" [(ngModel)]="newTransaction.category">
        <ion-option *ngFor="let category of incomeCategories" [value]="category._id">{{ category.name | translate:param }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines color="white" *ngIf="newTransaction.type === 'expense'">
      <ion-label>{{ 'category' | translate:param }}</ion-label>
      <ion-select okText="{{ 'ok' | translate:param }}" cancelText="{{ 'cancel' | translate:param }}" [(ngModel)]="newTransaction.category">
        <ion-option *ngFor="let category of expenseCategories" [value]="category._id">{{ category.name | translate:param }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item  no-lines color="light" *ngIf="isTransfer === false && newTransaction.account != null">
      <ion-label>{{ 'account' | translate:param }}</ion-label>
      <ion-select okText="{{ 'ok' | translate:param }}" cancelText="{{ 'cancel' | translate:param }}" [(ngModel)]="newTransaction.account" (ionChange)="accountChange($event)">
        <ion-option *ngFor="let account of accounts" [value]="account._id">{{ account.name | translate:param }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item  no-lines color="white" *ngIf="isTransfer === true && newTransaction.account != null">
      <ion-label>{{ 'account-out' | translate:param }}</ion-label>
      <ion-select okText="{{ 'ok' | translate:param }}" cancelText="{{ 'cancel' | translate:param }}" [(ngModel)]="accountOut" (ionChange)="checkAccountsCurrencies()">
        <ion-option *ngFor="let account of accounts" [value]="account._id">{{ account.name | translate:param }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines color="light" *ngIf="isTransfer === true && newTransaction.account != null">
      <ion-label>{{ 'account-in' | translate:param }}</ion-label>
      <ion-select okText="{{ 'ok' | translate:param }}" cancelText="{{ 'cancel' | translate:param }}" [(ngModel)]="accountIn" (ionChange)="checkAccountsCurrencies()">
        <ion-option *ngFor="let account of accounts" [value]="account._id">{{ account.name | translate:param }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines color="energized" *ngIf="newTransaction.account === null">
      <p text-wrap>{{ 'warning-transaction-no-account' | translate:param }}</p>
    </ion-item>
    <ion-item no-lines color="white">
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="tempDate"></ion-datetime>
    </ion-item>
    <ion-item no-lines color="light">
      <ion-label>Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="tempDate"></ion-datetime>
    </ion-item>
    <ion-item no-lines color="white">
      <ion-label>{{ 'description' | translate:param }}</ion-label>
      <ion-input text-right type="string" value="" [(ngModel)]="newTransaction.description"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-border padding>
  <button *ngIf="newTransaction.type === 'income'" ion-item no-lines color="nature" (click)="createTransaction()">
    <ion-title style="text-align:center;text-transform:uppercase;">{{ 'create' | translate:param }}</ion-title >
  </button>
  <button *ngIf="newTransaction.type === 'expense'" ion-item no-lines color="danger" (click)="createTransaction()">
    <ion-title style="text-align:center;text-transform:uppercase;">{{ 'create' | translate:param }}</ion-title >
  </button>
  <button *ngIf="newTransaction.type === 'transfer'" ion-item no-lines color="energized" (click)="createTransferTransaction()">
    <ion-title style="text-align:center;text-transform:uppercase;">{{ 'create' | translate:param }}</ion-title >
  </button>
</ion-footer>