<ion-header>
  <ion-navbar>
    <ion-title>{{ 'stats' | translate:param }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="page-stats">

    <ion-item no-lines color="dark">
      <p>{{ 'balance-per-category' | translate:param }}
      <p item-end>{{ 'this-month' | translate:param }}</p>
    </ion-item>
    <ion-item no-lines *ngFor="let category of dataSortedByDate['this-month'].validExpenseCategories; let $i = index" [ngClass]="($i%2 == 0) ? 'odd' : 'even'">
      <h3 item-start>
        {{ dataSortedByDate['this-month'].categoriesBalance[category.name].name | translate:param}}
      </h3>
      <h3 style="color:grey;">
        {{ dataSortedByDate['this-month'].categoriesBalance[category.name].percentage | number: '1.2-2' }}%
      </h3>
      <h3 item-end>
        {{ dataSortedByDate['this-month'].categoriesBalance[category.name].balance | number : '1.2-2' }} {{ getCurrencyReadableObject(userProvider.user.currency).code }}
      </h3>
    </ion-item>

    <ion-item no-lines color="dark">
      <p>{{ 'balance-per-category' | translate:param }}
      <p item-end>{{ 'this-year' | translate:param }}</p>
    </ion-item>
    <ion-item no-lines *ngFor="let category of dataSortedByDate['this-year'].validExpenseCategories; let $i = index" [ngClass]="($i%2 == 0) ? 'odd' : 'even'">
      <h3 item-start>
        {{ dataSortedByDate['this-year'].categoriesBalance[category.name].name | translate:param}}
      </h3>
      <h3 style="color:grey;">
        {{ dataSortedByDate['this-year'].categoriesBalance[category.name].percentage | number: '1.2-2' }}%
      </h3>
      <h3 item-end>
        {{ dataSortedByDate['this-year'].categoriesBalance[category.name].balance | number : '1.2-2' }} {{ getCurrencyReadableObject(userProvider.user.currency).code }}
      </h3>
    </ion-item>

    <ion-item no-lines color="dark" *ngIf="dataSortedByDate['last-year'].validExpenseCategories[0]">
      <p>{{ 'balance-per-category' | translate:param }}
      <p item-end>{{ 'last-year' | translate:param }}</p>
    </ion-item>
    <ion-item no-lines *ngFor="let category of dataSortedByDate['last-year'].validExpenseCategories; let $i = index" [ngClass]="($i%2 == 0) ? 'odd' : 'even'">
      <h3 item-start>
        {{ dataSortedByDate['last-year'].categoriesBalance[category.name].name | translate:param}}
      </h3>
      <h3 style="color:grey;">
        {{ dataSortedByDate['last-year'].categoriesBalance[category.name].percentage | number: '1.2-2' }}%
      </h3>
      <h3 item-end>
        {{ dataSortedByDate['last-year'].categoriesBalance[category.name].balance | number : '1.2-2' }} {{ getCurrencyReadableObject(userProvider.user.currency).code }}
      </h3>
    </ion-item>

</ion-content>
