<ion-header>
  <ion-navbar>
    <ion-title>{{ 'stats' | translate:param }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="page-stats">
  <ion-list>
      <ion-item no-lines color="secondary">
      <p style="font-weight: bold;">{{ 'expenses' | translate:param }}
    </ion-item>
    <ion-item no-lines color="white">
      <ion-row *ngFor="let term of dateTerms">
        <ion-col>
          <p>{{ term | translate:param }}</p>
        </ion-col>
        <ion-col text-right>
          <p>{{ dataSortedByDate[term].expenseBalance | number:0 }} {{ getCurrencyReadableObject(user.currency).code }}</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item no-lines color="secondary">
      <p style="font-weight: bold;">{{ 'balance-per-category' | translate:param }}
      <p item-end style="font-weight: bold;">{{ 'this-month' | translate:param }}</p>
    </ion-item>
    <ion-item no-lines color="white">
      <ion-row *ngFor="let category of expenseCategories">
        <ion-col>
          <p>{{ dataSortedByDate['this-month'].categoriesBalance[category.name].name | translate:param}}</p>
        </ion-col>
        <ion-col text-right>
          <p>{{dataSortedByDate['this-month'].categoriesBalance[category.name].percentage | number: '1.2-2' }}%</p>
        </ion-col>
        <ion-col text-right>
          <p>{{dataSortedByDate['this-month'].categoriesBalance[category.name].balance | number:0 }} {{ getCurrencyReadableObject(user.currency).code }}</p>
        </ion-col>
      </ion-row>
    </ion-item>  
    <ion-item no-lines color="secondary">
      <p style="font-weight: bold;">{{ 'balance-per-category' | translate:param }}
      <p item-end style="font-weight: bold;">{{ 'this-year' | translate:param }}</p>
    </ion-item>
    <ion-item no-lines color="white">
      <ion-row *ngFor="let category of expenseCategories">
        <ion-col>
          <p>{{ dataSortedByDate['this-year'].categoriesBalance[category.name].name | translate:param}}</p>
        </ion-col>
        <ion-col text-right>
          <p>{{dataSortedByDate['this-year'].categoriesBalance[category.name].percentage | number: '1.2-2' }}%</p>
        </ion-col>
        <ion-col text-right>
          <p>{{dataSortedByDate['this-year'].categoriesBalance[category.name].balance | number:0 }} {{ getCurrencyReadableObject(user.currency).code }}</p>
        </ion-col>
      </ion-row>
    </ion-item> 
  </ion-list>
</ion-content>
