<ion-header>
  <ion-navbar>
    <ion-title>{{ 'accounts' | translate:param }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createAccount()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="page-accounts">
  
  <div [ngClass]="'div-networth'" padding>
    <ion-item no-lines color="secondary">
      <p>{{ 'net-worth' | translate:param }}</p>
      <p item-end>{{ netWorth | number : '1.2-2' }} {{ getCurrencyReadableObject(userProvider.user.currency).code }}</p>
    </ion-item>
    <br>
    <ion-item no-lines color="dark">
      <p>{{ 'assets' | translate:param }}</p>
      <p item-end>{{ assets | number : '1.2-2' }} {{ getCurrencyReadableObject(userProvider.user.currency).code }}</p>
    </ion-item>
    <br>
    <ion-item no-lines color="dark">
      <p>{{ 'liabilities' | translate:param }}</p>
      <p item-end>{{ liabilities | number : '1.2-2' }} {{ getCurrencyReadableObject(userProvider.user.currency).code }} </p>
    </ion-item>
  </div>

  <button ion-item no-lines *ngFor="let account of accounts; let $i = index" (click)="editAccount(account)" [ngClass]="($i%2 == 0) ? 'odd' : 'even'">
    <div item-start>
      <h3>{{ account.name }}</h3>
      <p>{{ account.description }}</p>
      <p>{{ getAccountTypeReadableObject(account.type).code | translate:param }}</p>
    </div>
    <div item-end>
      <h3 style="font-weight:normal;">
        {{ account.balance | number : '1.2-2' }} {{ getCurrencyReadableObject(account.currency).code }}
      </h3>
    </div>
  </button>

  <!-- <div *ngIf="debitAccountsTrue === true">
    <ion-item no-lines color="dark">
      <p style="font-weight: bold;">{{ 'debit-cards' | translate:param }}</p>
    </ion-item>
    <button ion-item no-lines *ngFor="let account of debitAccounts; let $i = index" (click)="editAccount(account)" [ngClass]="($i%2 == 0) ? 'odd' : 'even'">
      <div item-start>
        <h3>{{ account.name }}</h3>
        <p>{{ account.description }}</p>
      </div>
      <div item-end>
        <h3 style="font-weight:bold;">
          {{ account.balance | number : '1.2-2' }} {{ getCurrencyReadableObject(account.currency).code }}
        </h3>
      </div>
    </button>
  </div>
  <div *ngIf="creditAccountsTrue === true">
    <ion-item no-lines color="dark">
      <p style="font-weight: bold;">{{ 'credit-cards' | translate:param }}</p>
    </ion-item>
    <button ion-item no-lines *ngFor="let account of creditAccounts; let $i = index" (click)="editAccount(account)" [ngClass]="($i%2 == 0) ? 'odd' : 'even'">
      <div item-start>
        <h3>{{ account.name }}</h3>
        <p>{{ account.description }}</p>
      </div>
      <div item-end>
        <h3 style="font-weight:bold;">
          {{ account.balance | number : '1.2-2' }} {{ getCurrencyReadableObject(account.currency).code }}
        </h3>
      </div>
    </button>
  </div>
  <div *ngIf="investmentAccountsTrue === true">
    <ion-item no-lines color="dark">
      <p style="font-weight: bold;">{{ 'investments' | translate:param }}</p>
    </ion-item>
    <button ion-item no-lines *ngFor="let account of investmentAccounts; let $i = index" (click)="editAccount(account)" [ngClass]="($i%2 == 0) ? 'odd' : 'even'">
      <div item-start>
        <h3>{{ account.name }}</h3>
        <p>{{ account.description }}</p>
      </div>
      <div item-end>
        <h3 style="font-weight:bold;">
          {{ account.balance | number : '1.2-2' }} {{ getCurrencyReadableObject(account.currency).code }}
        </h3>
      </div>
    </button>
  </div>
  <div *ngIf="loanAccountsTrue === true">
    <ion-item no-lines color="dark">
      <p style="font-weight: bold;">{{ 'loans' | translate:param }}</p>
    </ion-item>
    <button ion-item no-lines *ngFor="let account of loanAccounts; let $i = index" (click)="editAccount(account)" [ngClass]="($i%2 == 0) ? 'odd' : 'even'">
      <div item-start>
        <h3>{{ account.name }}</h3>
        <p>{{ account.description }}</p>
      </div>
      <div item-end>
        <h3 style="font-weight:bold;">
          {{ account.balance | number : '1.2-2' }} {{ getCurrencyReadableObject(account.currency).code }}
        </h3>
      </div>
    </button>
  </div> -->

</ion-content>
