page-accounts {
    .good {
        background-color: color($colors, correct);
        color : color($colors, white);
    }
    .bad {
        background-color: color($colors, danger);
        color : color($colors, white);
    }
}


