#page-welcome { 
    background: color($colors, primary);
    h1{
        color: color($colors, white);
    	font-size: 48px;
    	margin-top: 50px;
    	text-align: center;
        font-weight: bold;
    }
    h2{
        color: color($colors, white);
    	font-size: 14px;
    	margin-top: 10px;
    	text-align: center;
    }
    .logo {
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}