<ion-header>
  <ion-navbar>
    <ion-title>@{{ editUser.username }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <progress-bar [progress]="exportProvider.progress" *ngIf="exportProvider.progress > 0 && exportProvider.progress < 99.9"></progress-bar>
	<ion-list>
    <ion-item no-lines color="dark">
      <p style="font-weight: bold;">{{ 'personal-info' | translate:param }}</p>
    </ion-item>
    <ion-item no-lines color="white">
      <ion-label>{{ 'name' | translate:param }}</ion-label>
      <ion-input text-right type="string" value="" [(ngModel)]="editUser.name" (blur)="changeName($event.target.value)"></ion-input>
    </ion-item>
    <ion-item no-lines color="light">
      <ion-label>{{ 'email' | translate:param }}</ion-label>
      <ion-input text-right type="string" value="" [(ngModel)]="editUser.email" (blur)="changeEmail($event.target.value)"></ion-input>
    </ion-item>
    <ion-item no-lines color="white">
      <ion-label>{{ 'currency' | translate:param }}</ion-label>
      <ion-select okText="{{ 'ok' | translate:param }}" cancelText="{{ 'cancel' | translate:param }}" [(ngModel)]="editUser.currency" (ionChange)="changeCurrency($event)">
        <ion-option *ngFor="let currency of currencies" [value]="currency._id">{{ currency.code | translate:param }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines color="light">
      <ion-label>{{ 'language' | translate:param }}</ion-label>
      <ion-select okText="{{ 'ok' | translate:param }}" cancelText="{{ 'cancel' | translate:param }}" [(ngModel)]="editUser.language" (ionChange)="changeLanguage($event)">
        <ion-option value="en" selected="true">{{ 'en' | translate:param }}</ion-option>
        <ion-option value="es">{{ 'es' | translate:param }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines color="dark">
      <p style="font-weight: bold;">{{ 'import-and-export' | translate:param }}</p>
    </ion-item>
    <button ion-item no-lines color="white" (click)="export()">
      <p>{{ 'export-to-file' | translate:param }}</p> 
    </button>
    <button ion-item no-lines color="light" (click)="import()" [disabled]="false">
      <p>{{ 'import-to-file' | translate:param }}</p>
    </button>
    <ion-item no-lines color="danger">
      <p style="font-weight: bold;">{{ 'danger-zone' | translate:param }}</p>
      <button item-end ion-button outline color="white"
        *ngIf="dangerZoneIsDisabled" 
        (click)="activateDangerZoneAlertMessage()">
        {{ 'disabled' | translate:param }}
      </button>
      <button item-end ion-button outline color="white" 
        *ngIf="!dangerZoneIsDisabled" 
        (click)="deactivateDangerZone()">
        {{ 'enabled' | translate:param }}
      </button>
    </ion-item>
    <button ion-item no-lines color="white" (click)="removeAllTransactionsAlertMessage()" [disabled]="dangerZoneIsDisabled">
      <p>{{ 'remove-all-transactions' | translate:param }}</p>
    </button>
    <button ion-item no-lines color="light" (click)="removeAllAccountsAlertMessage()" [disabled]="dangerZoneIsDisabled">
      <p>{{ 'remove-all-accounts' | translate:param }}</p>
    </button>
    <button ion-item no-lines color="white" (click)="removeUserAlertMessage()" [disabled]="true">
      <p>{{ 'remove-user' | translate:param }}</p>
    </button>
  </ion-list>
</ion-content>